*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# also ignore any cdk files in subfolders
/**/.venv
/**/cdk.out
/**/__pycache__
/**/.cdk.staging